/*
/**/*
!/.gitignore
!/*.v
!/*.sv
!/**/
!/project_phase1/*.v
!/project_phase1/*.sv
!/project_phase2/*.v
!/project_phase2/*.sv
!/project_phase2/*.img
!/project_phase3/*.v
!/project_phase3/*.sv
!/project_phase3/*.img

